@host {
    login-field, animated-login-field {
        position: absolute;
        left: 0px;
        display: inline-block;

        font-family: 'Muli', sans-serif;
        font-size: 11pt;
    }
}

.login-not-successful p {
    color: darkred;
}

label {
    display: inline-block;
    width: 100px;
}