@host {
    login-field {
        display: inline-block;

        font-family: 'Muli', sans-serif;
        font-size: 11pt;
    }

    * {
        padding: 5px;
    }
}

p {
    color: darkblue;
    margin-top: 0;
    margin-bottom: 5px;
}

label {
    display: inline-block;
    width: 85px;
}